# Below are the pre-requisites to configure this project | please run this commands one by one.

    # create virtual environment
        #python -m venv <any_name> --> in my case it is heartenv

    # install DJango
        #pip install django

    #install pillow
        #pip install pillow

    #install MySqlclient
        #pip install mysqlclient

    #install mysqlserver with mysqlworkbench
        #create Database in the name of "heart"
    
    #
